### https://raw.github.com/github/gitignore/f2ce448f2ba7a092da05482ceca99209127c0884/Global/sbt.gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache


